<!-- your html code here -->
<div class="container mt-5 fw-light card-text">
  <div class="h1">Contact</div>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi, quasi
    aliquam voluptate sunt vitae voluptatum error laudantium, obcaecati quos
    nostrum nam a? Delectus cum pariatur earum, dignissimos vel facere
    voluptatibus!
  </p>
  <div class="d-flex justify-content-center">
    <form class="col-8 bg-light p-3 mt-2 border">
      <div class="mb-3">
        <div class="row">
          <div class="col-3 d-flex justify-content-end">
            <label for="exampleInputEmail1" class="form-label fw-bold"
              >Your E-mail
            </label>
          </div>
          <div class="col-9">
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Your Email"
            />
          </div>
        </div>
      </div>
      <div class="mb-3">
        <div class="row">
          <div class="col-3 d-flex justify-content-end">
            <label for="exampleFormControlTextarea1" class="form-label fw-bold"
              >Your Message</label
            >
          </div>
          <div class="col-9">
            <textarea
              class="form-control"
              id="exampleFormControlTextarea1"
              rows="5"
              placeholder="Please enter your message here..."
            ></textarea>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary justify-content-end">
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
