<!-- your html code here -->

<div class="card ml-4 bg-transparent border-0 p-5">
    <div class="row g-0 border-top p-5">
        <div class="col-md-8">
            <div class="card-body fw-light mt-4">
                <h1 class="card-title mt-4 fs-1"> The First Heading <small class="text-muted">Will Catch Your Eye </small></h1> 
              <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi exercitationem dolorem reiciendis vel aspernatur facere labore optio beatae quos. Enim ratione natus saepe repudiandae voluptatum. Eos quisquam facere aut asperiores?</p>
              lore
            </div>
          </div>
      <div class="col-md-4 rounded-circle bg-transparent  ">
        <img  class="rounded-circle mt-3" src="https://github.com/4GeeksAcademy/collaborative-Diego-Carlos-Cho/blob/Carlos/website/assets/img/1.jpg?raw=true" alt="..." width="375px" height="375px">
      </div>
    </div>
  </div>




