<!-- your html code here -->
<div class="container border-top">
  <div class="mx-auto mt-5">
    <h1>Portfolio</h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio nisi animi
      voluptate obcaecati aliquid omnis dolorem molestias laudantium porro,
      provident expedita iste, facilis deserunt sunt laborum sint ipsum ullam
      hic.
    </p>
    <div class="d-flex">
      <div class="row">
        <div class="col-4">
          <div class="card bg-transparent border-0">
            <img
              src="website/assets/img/big-project-image.png"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body px-0">
              <h5 class="card-title text-primary">Project name</h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet
                voluptate necessitatibus placeat quis, quos obcaecati!
              </p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card bg-transparent border-0">
            <img
              src="website/assets/img/big-project-image.png"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body px-0">
              <h5 class="card-title text-primary">Project name</h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet
                voluptate necessitatibus placeat quis, quos obcaecati!
              </p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card bg-transparent border-0">
            <img
              src="website/assets/img/big-project-image.png"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body px-0">
              <h5 class="card-title text-primary">Project name</h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet
                voluptate necessitatibus placeat quis, quos obcaecati!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
